<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap forms</title>
  </head>

  <body *ngIf="display">
    <!-- Adding it inside a container will center the form-->
    <div class="container cool">
      <h4>Input your Character Stats</h4>
      <form>
        <!--raw input-->
        <div class="mb-3">
          <label for="raw" class="form-label"> raw: </label>
          <input
            type="number"
            class="form-control w-25"
            id="raw"
            placeholder=""
          />
        </div>
        <!--sharpness input-->
        <div class="mb-3">
          <label for="sharpness" class="form-label"> sharpness: </label>
          <input
            type="string"
            class="form-control w-25"
            id="sharpness"
            placeholder=""
            
          />
        </div>
        <!--eleType input-->
        <div class="mb-3">
          <label for="eleType" class="form-label"> eleType: </label>
          <input
            type="string"
            class="form-control w-25"
            id="eleType"
            placeholder=""
          />
        </div>
        <!--ele input-->
        <div class="mb-3">
          <label for="ele" class="form-label"> ele: </label>
          <input
            type="number"
            class="form-control w-25"
            id="ele"
            placeholder=""
          />
        </div>
        <!--critchance input-->
        <div class="mb-3">
          <label for="critchance" class="form-label"> critchance: </label>
          <input
            type="number"
            class="form-control w-25"
            id="critchance"
            placeholder=""
          />
        </div>
        <!--wex input-->
        <div class="mb-3">
          <label for="wex" class="form-label"> wex: </label>
          <input
            type="number"
            class="form-control w-25"
            id="wex"
            placeholder=""
          />
        </div>
        <!--critboost input-->
        <div class="mb-3">
          <label for="critboost" class="form-label"> critboost: </label>
          <input
            type="number"
            class="form-control w-25"
            id="critboost"
            placeholder=""
          />
        </div>
        <!--criteye input-->
        <div class="mb-3">
          <label for="criteye" class="form-label"> criteye: </label>
          <input
            type="number"
            class="form-control w-25"
            id="criteye"
            placeholder=""
          />
        </div>
        <!--atkboost input-->
        <div class="mb-3">
          <label for="atkboost" class="form-label"> atkboost: </label>
          <input
            type="number"
            class="form-control w-25"
            id="atkboost"
            placeholder=""
          />
        </div>
        <!--agitator input-->
        <div class="mb-3">
          <label for="agitator" class="form-label"> agitator: </label>
          <input
            type="number"
            class="form-control w-25"
            id="agitator"
            placeholder=""
          />
        </div>
        <!--peakperf input-->
        <div class="mb-3">
          <label for="peakperf" class="form-label"> peakperf: </label>
          <input
            type="number"
            class="form-control w-25"
            id="peakperf"
            placeholder=""
          />
        </div>
        <!--resentment input-->
        <div class="mb-3">
          <label for="resentment" class="form-label"> resentment: </label>
          <input
            type="number"
            class="form-control w-25"
            id="resentment"
            placeholder=""
          />
        </div>
        <!--resuscitate input-->
        <div class="mb-3">
          <label for="resuscitate" class="form-label"> resuscitate: </label>
          <input
            type="number"
            class="form-control w-25"
            id="resuscitate"
            placeholder=""
          />
        </div>
        <!--maxmight input-->
        <div class="mb-3">
          <label for="maxmight" class="form-label"> maxmight: </label>
          <input
            type="number"
            class="form-control w-25"
            id="maxmight"
            placeholder=""
          />
        </div>
        <!--critele input-->
        <div class="mb-3">
          <label for="critele" class="form-label"> critele: </label>
          <input
            type="number"
            class="form-control w-25"
            id="critele"
            placeholder=""
          />
        </div>
        <!--offensiveguard input-->
        <div class="mb-3">
          <label for="offensiveguard" class="form-label">
            offensiveguard:
          </label>
          <input
            type="number"
            class="form-control w-25"
            id="offensiveguard"
            placeholder=""
          />
        </div>
        <!--eleatkup input-->
        <div class="mb-3">
          <label for="eleatkup" class="form-label"> eleatkup: </label>
          <input
            type="number"
            class="form-control w-25"
            id="eleatkup"
            placeholder=""
          />
        </div>
        <!--counterstrike input-->
        <div class="mb-3">
          <label for="counterstrike" class="form-label"> counterstrike: </label>
          <input
            type="number"
            class="form-control w-25"
            id="counterstrike"
            placeholder=""
          />
        </div>
        <!--eleexploit input-->
        <div class="mb-3">
          <label for="eleexploit" class="form-label"> eleexploit: </label>
          <input
            type="number"
            class="form-control w-25"
            id="eleexploit"
            placeholder=""
          />
        </div>
        <!--mailofhellfire input-->
        <div class="mb-3">
          <label for="mailofhellfire" class="form-label">
            mailofhellfire:
          </label>
          <input
            type="number"
            class="form-control w-25"
            id="mailofhellfire"
            placeholder=""
          />
        </div>
        <!--dereliction input-->
        <div class="mb-3">
          <label for="dereliction" class="form-label"> dereliction: </label>
          <input
            type="number"
            class="form-control w-25"
            id="dereliction"
            placeholder=""
          />
        </div>
        <!--burst input-->
        <div class="mb-3">
          <label for="burst" class="form-label"> burst: </label>
          <input
            type="number"
            class="form-control w-25"
            id="burst"
            placeholder=""
          />
        </div>

        <!-- Submit Button -->
        <button (click)="SaveCharData()" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
