<div class="card">
    <div class="card-header">{{ pageTitle }}</div>
    <div class="card-body">
      <div class="row">
        <p>If you use {{mathMV.MoveName}} on {{this.monsterName}}'s {{mathHZ.parts_name}} with your {{math.raw}} raw {{math.ele}} {{math.eleType}} {{math.sharpness}} sharpness {{this.readableWepName}}, this is the result:</p>
        <!-- <p>You will do {{results.raw_no_crit}} raw damage and {{results.ele_no_crit}} {{math.eleType}} damage without a crit, but {{results.raw_crit}} and {{results.ele_crit}} {{math.eleType}} damage with a crit.</p>
        <p>With an overall chance of {{results.crit_chance}}% to crit, this works out to an average of {{results.raw_avg}} raw damage and {{results.ele_avg}} {{math.eleType}} damage for a total of {{results.sum_avg}} damage.</p> -->
      </div>

      <div class="table-responsive">
        <table style="width:100%" class="table table-dark">
          <thead class="thead-light">
            <tr>
              <th style="width:20%">
                <select
                  class="form-control w-25"
                  id="digits"
                  name="digits"
                  formcontrolName="digits"
                  [(ngModel)]="digits"
                  (click)="chooseDigits($event, digits)">
                  <option [value] = 0>0</option>
                  <option [value] = 1>1</option>
                  <option [value] = 2>2</option>
                  <option [value] = 3>3</option>
                  <option [value] = 4>4</option>
                </select></th>
              <th>raw</th>
              <th>{{math.eleType}}</th>
              <th>total</th>
            </tr>
            <tr>
              <td>no crit</td>
              <td>{{results.raw_no_crit.toFixed(this.digits)}}</td>
              <td>{{results.ele_no_crit.toFixed(this.digits)}}</td>
              <td>{{results.sum_no_crit.toFixed(this.digits)}}</td>
            </tr>
            <tr>
              <td>crit ({{results.crit_chance}}% chance)</td>
              <td>{{results.raw_crit.toFixed(this.digits)}}</td>
              <td>{{results.ele_crit.toFixed(this.digits)}}</td>
              <td>{{results.sum_crit.toFixed(this.digits)}}</td>
            </tr>
            <tr>
              <td>average dmg output</td>
              <td>{{results.raw_avg.toFixed(this.digits)}}</td>
              <td>{{results.ele_avg.toFixed(this.digits)}}</td>
              <td>{{results.sum_avg.toFixed(this.digits)}}</td>
            </tr>
            <tr *ngIf="edited">
              <td>{{this.skillName}} Level {{this.skillLevel}}</td>
              <td>{{this.raw_avg_diff.toFixed(this.digits)}}</td>
              <td>{{this.ele_avg_diff.toFixed(this.digits)}}</td>
              <td>{{this.sum_avg_diff.toFixed(this.digits)}}</td>
            </tr>
          </thead>
        </table>
      </div>

      <!-- <div class="form-group">
        <label for="weaponname"> Weapon: </label>
        <select
          class="form-control w-25"
          id="weaponname"
          name="weaponname"
          formcontrolName="weaponname"
          [(ngModel)]="skillSelect">
          <option *ngFor="let item of mathArray" 
          [value]="mathArray"
          >
          {{weaponname.WeaponName}}                       
          </option>
        </select>
      </div> -->

      <div class="form-group">
        <label for="skill" class="form-label"> Select a skill to investigate: </label>
        <select
          class="form-control w-25"
          id="skill"
          name="skill"
          formcontrolName="skill"
          [(ngModel)]="skillSelect"
          (click)="zeroComparison($event, skillSelect)">
          <option [value] = 1>Weakness Exploit</option>
          <option [value] = 2>Critical Boost</option>
          <option [value] = 3>Critical Eye</option>
          <option [value] = 4>Attack Boost</option>
          <option [value] = 5>Agitator</option>
          <option [value] = 6>Peak Performance</option>
          <option [value] = 7>Resentment</option>
          <option [value] = 8>Resuscitate</option>
          <option [value] = 9>Maximum Might</option>
          <option [value] = 10>Critical Element</option>
          <option [value] = 11>Offensive Guard</option>
          <option [value] = 12>Element Attack Up</option>
          <option [value] = 13>Counterstrike</option>
          <option [value] = 14>Elemental Exploit</option>
          <option [value] = 15>Mail of Hellfire</option>
          <option [value] = 16>Dereliction</option>
          <option [value] = 17>Burst</option>
        </select>
        <span *ngIf="edited">Tooltip: {{this.skillDescrip}}</span>
      </div>
      <br>      
      <div id="comparison" *ngIf="edited">This skill contributes {{percentage_diff.toFixed(this.digits)}}% of your average damage output.
         The skill overall is worth {{diff_per_point.toFixed(this.digits)}} damage per point, or {{percentage_diff_per_point.toFixed(this.digits)}}% damage per point.</div>
         <div id="alert" *ngIf="edited2">You don't even have this armor skill!</div>


    </div>
</div>

