<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
  <a class="nav-item nav-link"><app-login></app-login></a>
  <nav class="nav nav-pills nav-justified">
    <a class="nav-link" routerLinkActive="Active" routerLink="/app-home">Home</a>
    <a class="nav-link" routerLinkActive="Active" routerLink="/app-hit-zone">HitZone</a>
    <a class="nav-link" routerLinkActive="Active" routerLink="/pm-motion_zone">Motion Zone</a>
    <a class="nav-link" routerLinkActive="Active" routerLink="/app-finalresults">Final Output</a>
    <a class="nav-link" routerLinkActive="Active" routerLink="/app-about-us">About Us</a>
  </nav>
</header>
<!--<app-home></app-home> -->
<app-user-settings-form></app-user-settings-form>
<!-- <app-hit-zone></app-hit-zone> -->
<!-- <pm-motion_zones></pm-motion_zones> -->
<!-- <app-about-us></app-about-us> -->

<router-outlet></router-outlet>
<!-- <nav class="navbar navbar-light bg-faded">

</nav>
<nav>
<a class="nav-link" href="app-hit-zone">Hit Zone<i class="fa fa-stack-overflow"></i></a>
</nav> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
