<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
  <a class="nav-item nav-link"><app-login></app-login></a>
  <nav class="nav nav-pills nav-justified">
    <a class="nav-link active" routerLink="/app-home">Home</a>
    <a class="nav-link" routerLink="/pm-motion_zone">Motion Zone</a>
    <a class="nav-link" routerLink="/app-hit-zone">HitZone</a>
    <a class="nav-link" routerLink="/app-finalresults">Final Output</a>
  </nav>
</header>


<app-home></app-home>
<app-user-input></app-user-input>

<!-- <app-hit-zone></app-hit-zone>
<pm-motion_zones></pm-motion_zones> -->

<router-outlet></router-outlet>
<!-- <nav class="navbar navbar-light bg-faded">

</nav>
<nav>
<a class="nav-link" href="app-hit-zone">Hit Zone<i class="fa fa-stack-overflow"></i></a>
</nav> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
