thead {
    color: #dddee0;
    background-color: #323a45;
}

div.about{
    margin: 20px;
    height: 100vh;
    
}

.background {
    background-image: url("../../assets/images/backgroundsmallesttilelightest.png");

}
