<div class="card">
    <div class="card-header">{{ pageTitle }}</div>
    <div class="card-body">

        <div style="text-align:center">
            <p><b>Project:</b> The idea is an all-in-one database and calculator tool for Monster Hunter Rise.
                Monster Hunter is an extremely data-driven series, which involves action combat
                backed up by optimization behind the scenes related to armor set building, knowing
                a monster’s inherent weakpoints, and understanding your weapon’s moveset and limitations.
                The target audience is end users who play the game from an educated perspective and do not
                wish to be tossed around to many different databases for information split across multiple websites.</p>

                <p><b>Programs Used:</b> For this project, the programs we used to help us in the process were MongoDB,
                    Github, AzureDevOps, Visual Studio, Teams, Kiranico, etc. They helped us with storing data, write code,
                    communicate, and plan and complete our sprints for each week.</p>

                <p><b>Team:</b> Our team consists of Kyu Kim, Dashia Ricks-Carter, Joe Jennings, and Kyle Hantula. The roles
                    that are implemented and rotated are Scrum Master, Git Hub Master, Architech and Dev Team.</p>
        </div> 