.field-error {
    border: 1px solid red;
}

.form{
    column-count: 2;
    
}

.form-group{
    width: 1000px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
}

.form-label{
    width:auto;
    background-color:rgba(255, 255, 255, 0.646);
}

.form2{
    margin-bottom: 40px;
}

.background {
    background-image: url("/../assets/images/bg.png");
    background-repeat: repeat;
}

.heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px grey;
}