.field-error {
    border: 1px solid red;
}

.form{
    column-count: 2;

}

.form-group{
    width: 1000px;
}

.form2{
    margin-bottom: 40px;
}

.background {
    background-image: url("../../assets/images/backgroundsmallesttilelightest.png");

}