<div class="card">
  <div class="card-header">{{ pageTitle }}</div>
  <div class="background">
    <div class="leftstuff">      
      <div>Search:</div>
      <div>
        <input type="text" [(ngModel)]="motionzoneFilter" />
      </div>

    <div>
      <br>
      <h4>Filtered by</h4>
      <h1>{{ motionzoneFilter }}</h1>
    </div>


</div>

  <div class="table-responsive">
    <table class="table table-dark" *ngIf="motionzones.length">
      <thead class="thead-light">
        <tr>
          <th>MoveID</th>
          <th>MoveName</th>
          <th>DamageType</th>
          <th>RawMV</th>
          <th>EleMV</th>
          <th>WeaponName</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let motionzone of filteredMotionzones" [routerLink] = "['/app-finalresults', motionzone.MoveID, motionzone.MoveName, motionzone.DamageType, motionzone.RawMV, motionzone.EleMV, motionzone.WeaponName]">
          <td>{{ motionzone.MoveID }}</td>
          <td>{{ motionzone.MoveName }}</td>
          <td>{{ motionzone.DamageType }}</td>
          <td>{{ motionzone.RawMV }}</td>
          <td>{{ motionzone.EleMV }}</td>
          <td>{{ motionzone.WeaponName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </p>
</div>