thead {
    color: #dddee0;
    background-color: #323a45;
}
.background {
    background-image: url("/../assets/images/bg.png");
    background-repeat: repeat;
    height:300vh;
}

.table-responsive{

    float:right;
    width:65%;
    margin:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}

.text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px grey;
}

.small{
    width:5%;
}

.leftstuff{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px grey;
    float:left;
    margin:20px;
}