.cool {

    font-family: 'Monster Hunter', sans-serif;
    font-size: 56px;
    color: black;

}
a.cool{
    color: blue;
    font-size: 14px;
}

.background {
    background-image: url("/../assets/images/bg.png");
    background-repeat: repeat;
    height:95vh;
}