<div class="card" *ngIf="!display" >
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body" >
    <div class="container-fluid">
      <div class="text-center">
        <div class="card-body cool">Welcome</div>
        <br />
        <img
          src="../assets/images/Monster_Hunter_logo_black.png"
          class="img-responsive center-block"
          style="max-height: 300px; padding-bottom: 0px"
        />
        <div class="card-body cool">You Need To Login To Continue</div>
      </div>
      

      <div class="text-center cool">Developed by:</div>
      <div class="text-center">
        <p class="cool" style="font-size: 24px;">Kyu Kim, Kyle Hantula, Dashia Ricks-Carter, Joseph Jennings</p>
      </div>
      <div class="text-center">
        <a class="cool" style="font-size: 14px;" href="https://github.com/khant414/MHRCompanion"
          >https://github.com/khant414/MHRCompanion</a
        >
      </div>
    </div>
  </div>
</div>